<h1>Listing Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Provider</th>
    <th>UID</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.provider %></td>
    <td><%= user.uid %></td>
    
    <td><%= link_to "set user as current", user_set_current_user_path(user) %></td>
  </tr>
<% end %>
</table>

<br />
