<footer class="footer">
  <small>
    <a href="#">CTO Toolbox</a>
    by <a href="http://linkedin.com/in/jbarmash">Jean Barmash </a>
  </small>
  <nav>
    <ul>
      <li><a href="mailto://jean.barmash@gmail.com">Email</a></li>
      <li><a href="http://www.hellofoobar.com/">Blog</a></li>
    </ul>
  </nav>
</footer>
